/* index/home page css code starts from here */

.index .indexMain {
    position: relative;
    top: 60px;
    width: 100vw;
    height: auto;
}

.index .indexMain .indexMainDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

}


.index .indexMain .indexMainDiv .websiteDiv {
    width: 95vw;
    height: 210px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* border: 1px solid; */
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 20px;
    background: linear-gradient(135deg, #2b1055, #7597de);
}

.index .indexMain .indexMainDiv .websiteDiv:hover{
    transform: scale(1.01);
}


.index .indexMain .indexMainDiv .websiteDiv .websiteNameDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.index .indexMain .indexMainDiv .websiteDiv .websiteNameDiv h2 {
    width: 150px;
    height: 150px;
    /* border: 1px solid;/ */
    text-align: center;
    align-content: center;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.index .indexMain .indexMainDiv .websiteDiv .websiteNameDiv .websiteLinkBtn {
    border: none;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    width: 120px;
    height: 34px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}